<div class="ui  grid" id="container">
    <div class="row" id="nav">
        <div class="fourteen wide column"></div>
        <div class="two wide column">
            <button *ngIf="authService.isAuthenticated()" class="ui secondary button" (click)="onLogout()">Log out</button>
        </div>
    </div>
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <h2>My Friends</h2>
        </div>
        <div class="column"></div>
    </div>
    <div class="row">
        <ul class="">
            <ng-template [ngIf]="!authService.isAuthenticated()">
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/sign-up">Sign Up</a>
                </li>
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/sign-in">Sign In</a>
                </li>
            </ng-template>
            <ng-template [ngIf]="authService.isAuthenticated()">
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/add-contact">Add Contact</a>
                </li>
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/contact-list">Contact List</a>
                </li>
            </ng-template>
        </ul>
    </div>
    <!--
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <router-outlet></router-outlet>
        </div>
        <div class="column"></div>
    </div>
    -->
    <div class="row" id="routing">
        <router-outlet style="max-width: inherit"></router-outlet>
    </div>
</div>