<mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <h2>My Friends</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <button *ngIf="authService.isAuthenticated()" mat-raised-button color="warn" (click)="onLogout()">Log out</button>
    </mat-grid-tile>
</mat-grid-list>
<nav mat-tab-nav-bar>
    <div *ngIf="!authService.isAuthenticated()">
        <a mat-tab-link routerLink="/sign-up">Sign Up</a>
        <a mat-tab-link routerLink="/sign-in">Sign In</a>
    </div>
    <div *ngIf="authService.isAuthenticated()">
        <a mat-tab-link routerLink="/add-contact">Add Contact</a>
        <a mat-tab-link routerLink="/contact-list">Contact List</a>
    </div>
</nav>
<router-outlet></router-outlet>