<div class="container">
    <div class="row">
        <h2>My Friends</h2>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/">Home</a>
            </li>
            <li role="presentation"
                    routerLinkActive="active">
                <a routerLink="/add-contact">Add Contact</a>
            </li>
            <li role="presentation"
                    routerLinkActive="active">
                <a routerLink="/contact-list">Contact List</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

