<div class="ui four column grid container">
  <div class="two column row">
    <div class="column">
      <form class="ui form" style="flex-direction: row">
        <label for="">Serach contact:</label>
        <input class="form-control" type="text">
      </form>
    </div>
  </div>
</div>
<div class="ui grid container">
  <div class="four wide column" *ngFor="let contact of contacts | sort: 'lastname'">
    <div class="ui list">
      <div class="item">
        <div class="content person">
          <a class="header">
            <img *ngIf="contact.gender == 'Female'" class="ui avatar image" src="assets/images/female.png">
            <img *ngIf="contact.gender == 'Male'" class="ui avatar image" src="assets/images/male.png">
              {{ contact.firstname }} {{ contact.lastname }}
            <button class="ui red button" (click)="onContactDeletion(contact.idCode)">x</button>
          </a>
          <div class="description">
              <div>Phone Number: <strong>{{ contact.phonenumber }}</strong></div>
              <div>Email: <strong>{{ contact.email }}</strong></div>
              <div>City: <strong>{{ contact.city }}</strong></div>
              <div>Country: <strong>{{ contact.country }}</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>